.ui.job-advertisement-container {
  width: 60%;
  margin-top: 2%;
  /* border:5px solid; */
  box-shadow: 5px 5px 10px #888888;
  padding-bottom: 100px;
}

h5 {
  margin-right: 90%;
  font-family: sans-serif;
}

.job-advertisement-form {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.job-advertisement-header {
  padding-top: 3%;
  
}
hr{
  margin-left: 2%;
}

.row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 45px;
  padding-top: 20px;
}

.cityId-select-label {
  margin-bottom: 5px;
  margin-right: 90%;
  font-weight: bold;
}

.jobTitleId-select-label {
  margin-bottom: 5px;
  margin-right: 74%;
  font-weight: bold;
}
.worktype-select-label {
  margin-bottom: 5px;
  margin-right: 73%;
  font-weight: bold;
}
.worktimetype-select-label {
  margin-bottom: 5px;
  margin-right: 69%;
  font-weight: bold;
}
.positionSize-label {
  margin-bottom: 5px;
  margin-right: 62%;
  font-weight: bold;
}
.lastApplicationDate-label {
  margin-bottom: 5px;
  margin-right: 65%;
  font-weight: bold;
}

.form-floating {
  padding-bottom: 15px;
  margin-top: 20px;
  margin-right: 35px;
  margin-left: 35px;
}
